@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0%;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* main footer */
.footer {
    background-color: rgb(124, 122, 122);
    color: #1f1e1e;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.footer_elementos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 23vh;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 3.5em;
    padding-bottom: 3.5em;
}

.footer_elementos>div {
    font-size: 1rem;
    font-weight: bold;
}

/* logo */

#logo {
    display: flex;
    justify-content: center;
    align-items: start;
    border-right: 1px solid #ccc;
}

#logo img {
    width: 180px;
}

/*contactos */

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ccc;
    font-weight: 500;
}

#contacts h2 {
    margin-bottom: 1em;
}

#contacts_body>div {
    margin-bottom: 0.5em;
    display: flex;
}

#contacts_body>div>img {
    width: 24px;
    margin-right: 5px;
    bottom: 3px;
    position: relative;
}

/* newsletter*/

#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newsletter form {
    position: relative;
    margin-top: 2em;
    margin-right: 1.5em;
}

#newsletter button {
    position: absolute;
    top: 5px;
    right: -30px;
    background-color: rgb(199, 151, 31);
    color: white;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#newsletter button:hover {
    background-color: #e0a800;
    color: white;
}

#newsletter input {
    width: 100%;
    padding: 1rem;
}

#footer_avisos {
    font-size: small;
    font-weight: 300;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 2em;
}