/* barra fija de navegación */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(146, 58, 58);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
}

.logo img {
    margin-top: 10px;
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    margin-left: 10px;
}

menu {
    margin-left: auto;
    margin-right: right;
}

/* Estilo del menú */
.menu a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #646464;
}

.idiomas {
    color: white;
    margin-right: 50px;
}

.idiomas a {
    color: white;
    text-decoration: none;
}
