/* main footer */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 30vh;
    padding: 8rem;
    border: 2px solid red;
}

.footer > div {
    font-size: 1.5rem;
    font-weight: bold;
}

/* logo */

#logo {
    display: flex;
    justify-content: center;
    align-items:start;
    border-right: 1px solid #ccc;
}

#logo img {
    width: 200px;
}

/*contactos */	

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ccc;
}

/* newsletter*/ 

#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newsletter form {
    position: relative;
}

#newsletter button {
    position: absolute;
    top: 5px;
    right: -30px;
    background-color: rgb(199, 151, 31);
    color: white;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
}

#newsletter button:hover {
    background-color:#e0a800;
    color: white;
}

#newsletter input {
    width: 100%;
    padding: 1rem;
}