/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(146, 58, 58);
    }
  
  /* Estilos para la barra de navegación */
  .navbar {
    position: fixed; /* La barra de navegación queda fija */
    top: 0; /* Se adhiere a la parte superior */
    left: 0;
    width: 100%; /* Ocupa todo el ancho */
    background-color: rgb(146, 58, 58); /* Fondo blanco */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Espaciado */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
  }
  
  /* Estilo del logo */
  .logo img {
    height: 100px; /* Ajusta según tu logo */
    width: 100px;
  }

  menu{
    margin-left: auto;
    margin-right: right;
  }
  
  /* Estilo del menú */
  .menu a {
    text-decoration: none;
    color: #ffffff; /* Color del texto */
    margin-left: 20px;
    font-size: 16px;
    transition: color 0.3s ease; /* Efecto al pasar el mouse */
  }
  
  .menu a:hover {
    color: #646464; /* Color al pasar el mouse */
  }
  
  /* Contenido principal */
  .content {
    margin-top: 70px; /* Desplaza el contenido hacia abajo para evitar que la barra lo tape */
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .idiomas{
    color: white;
    margin-right: 20px;
  }

  .idiomas a{
    color: white;
    text-decoration: none;
  }

  .headerImg{
    position: relative;
    margin-top: 123px;
  }

  .backgroundHeader{
    width: 100%;
    height: 800px;
  } 

  .headerImg .textoContact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 78px;
    color: white;
    text-align: center;
  }

  .txtContactos{
    margin-top: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .txtContactos p{
    color: white;
    font-size: 50px;
  }

  .comoContactar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 43, 43);
    margin-top: 150px;
    width: 100%;
    height: 300px;
    border:2px solid black;
  }

  .iconos{
    border:2px solid black;
  }

  .iconos img{
    width: 100%;
  }

  .texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .texto .direccion{
    margin-left: 220px;
    margin-bottom: 140px;
  }
  .texto .telefono{
    margin-left: 160px;
    margin-bottom: 160px;
  }
  .texto .correo{
    margin-left: 225px;
    margin-bottom: 160px;
  }

  .texto div p{
    margin-top: 30px;
    font-size: 17px;
  }

  .texto h2{
    color: white;
  }

  .texto p{
    color: white;
  }

  .containerpeticiones{
    margin-top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .containerpeticiones h1{
    color: white;
    margin-top: 30px;
  }

  .containerpeticiones input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: white;
    font-size: 16px;
    outline: none;
    padding: 5px 60% 15px 5px;
  }

  .containerpeticiones textarea{
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: white;
    font-size: 16px;
    outline: none;
    padding: 5px 60% 70px 5px;
  }

  .containerpeticiones button{
    background-color: #1e1e3a;
    color: white;
    border: none;
    padding: 20px 90px;
    cursor: pointer;
    font-size: 16px;
  }

  .containerpeticiones button:hover{
    background-color: #2f2f5c;
    transition: background-color 0.3s ease; 
  }

  .ubicacion{
    margin-top: 180px;
  }
