body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}


/* Carrusel */
.carousel {
    position: relative;
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 40%; /* Se ajusta según la cantidad de imágenes */
}

.carousel img {
    width: 100%;
    flex-shrink: 0;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-buttons button:hover {
    background-color: #0055aa;
}

/* Sección de promociones */
.promociones {
    padding: 20px;
    text-align: center;
    margin-bottom: 4em;
}

.promocion {
    background: white;
    margin: 15px;
    display: inline-block;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.promocion img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.promocion h3 {
    margin: 15px;
    color: #003366;
}

.promocion p {
    padding: 0 15px;
    color: #555;
}


.busqueda-promociones {
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}

.busqueda-promociones h2 {
    margin-bottom: 15px;
    font-size: 1.8em;
    color: #3e3a61;
    text-align: center;
    font-weight: 600;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.form-row label {
    flex: 1 1 150px;
    font-size: 0.9em;
    font-weight: 600;
    color: #333333;
    margin: auto 0;
}

.form-row input,
.form-row select {
    flex: 2 1 250px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 0.9em;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-row input:focus,
.form-row select:focus {
    border-color: #3e3a61;
    box-shadow: 0 0 5px rgba(62, 58, 97, 0.4);
    outline: none;
}

.buscar-btn {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto 0;
    background-color: rgb(199,151,31);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buscar-btn:hover {
    background-color: #e0a800;
    transform: translateY(-2px);
}

.buscar-btn:active {
    transform: translateY(0);
}
