@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

/* -----------------main----------------------------- */

.headerImg {
    margin-top: 120px;
}

.headerImg > h1{
    width: 100%;
    background-color: #646464;
    background: rgba(100, 100, 100, 0.6);
    font-size: 1.6rem;
}

.backgroundHeader {
    width: 100%;
    height: 60vh;
}

.headerImg .textoContact {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: white;
    text-align: center;
}

/* contactos*/

.contacts {
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contacts > h1 {
    font-size: 3rem;
    font-weight: bold;
}

.contact_info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 30vh;
    padding: 5rem;
    justify-items: center;
    align-items: center;
    background-color: #e2e2e2;
}

.contact_info > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_info div > img {
    width: 80px;
    height: 80px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.contact_form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_form input, .contact_form textarea {
    width: 600px;
    height: 2rem;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-bottom: 1px solid rgb(146, 58, 58);
    background-color: inherit;
    outline: none;
}


.contact_form button {
    width: 150px;
    padding: 1rem;
    background-color: rgb(199, 151, 31);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 2rem;
}

.contact_form button:hover {
    background-color: #e0a800;
    color: white;
}

.contact_form input:focus,
.contact_form textarea:focus {
    border-bottom: 2px solid rgb(146, 58, 58);
    background-color: #f4f4f4; 
}

.contact_form textarea {
    width: 600px; 
    height: 6rem; 
    resize: vertical; 
}

